body, h1, h2, h3, p, a {
    margin: 0;
    padding: 0;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    background: linear-gradient(to bottom, #414040, #5f5f5f);
    color: #000000;
    line-height: 1.6;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

header, footer {
    background-color: #1f1e1e;
    color: #fff;
    text-align: center;
    padding: 20px;
}

#contenido {
    flex: 1;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    padding: 20px;
}
.container {
    background-color: #7d53b4a1;
    border: 1px solid #ffffff38;
    border-radius: 10px;
    padding: 40px;
    margin: 10px;
    text-align: center;
}

a {
    color: #ffffff;
    text-decoration: none;
}

a:hover {
    color: #020202; 
}

footer {
    margin-top: auto;
}
