body{
    color: white;
    background-color: rgba(0, 0, 0, 0.377);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0;
    font-family: 'Courier New', Courier, monospace;
}

input{
    background-color: rgba(255, 255, 255, 0.322);   
    margin-left: 10px;
    width: 50%;
    color: white;
       
}
button{
    background-color: rgba(255, 255, 255, 0.993);
    margin-left:10px;
    border-radius: 5px;
    padding: 3px;
    width: 90px;
}
button:hover{
    transform: scale(1.2);
}
.contenido{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column  ;
    justify-content: center;
    align-items: center;
    width: 80%; 
    padding: 10px;   
}
.container{
    background-color: #2e2b3de5;
    border: 1px solid #7b59b3;
    flex-wrap: wrap;
    width: 60%;
    height: 20px;
    border-radius: 5px;
    padding: 15px;
    margin:10px;  
}
header{ 
    width: 100%;
    text-align: center;
    background-color: black;
}